@tailwind base;
@tailwind components;
@tailwind utilities;

body {
/* background gradient to be added here */
background: #18181b;
background-image: linear-gradient(55deg, #ffffff00, #5d00ff28);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}